@import 'https://fonts.googleapis.com/css?family=Roboto|Playfair+Display:400,400i';
html {
	font-size: 100%;
	font-family: $copy-font;
}
body{
	font-size: 1em;
	font-family: inherit;
}
h1{
	font: 700 rem(42) $heading-font;
}
h2{
	font: 400 rem(23) $copy-font;
	span{
		font-weight: 700;
	}
}
h3{
	font: 400 rem(20) $copy-font;
}
p{
	font: 400 rem(16) $copy-font;
	margin-bottom: rem(20);
	color: $dark-gray;
	a{
		color: $brand-orange;
	}
}
small, li, span{
	color: $medium-gray;
}
a{
	color: $dark-gray;
	&:hover{
		color: $brand-orange;
	}
}
img{
	max-width: 100%;
}
.dark-gray{
	color: $dark-gray;
}
.medium-gray{
	color: $medium-gray;
}
.light-gray{
	color: $light-gray
}
.orange{
	color: $brand-orange;
}
.copy-text{
	font-family: $copy-font;
}
.heading-text{
	font-family: $heading-font;
}
.italic{
	font-style: italic;
}

a:hover{
	text-decoration: none;
}
.title-pages{
	color: $medium-gray;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  @media screen and (max-width: $breakpoint--large){
  	display: block;
  	@include clearfix;
  	.main, .sidebar{
  		display: block;
  		width: 100%;
  		float: none;
  	}
  }
}
.brand{
	.retina-logo{
    	display: none;
    }
    .regular-logo{
        display: block;
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        .retina-logo{
            display: block;
            max-width: rem(220);
        }
        .regular-logo{
            
            display: none;
        }
    }
}


ul.menu{
	padding: 0;
}

.fixed-header-content{
	margin-top: rem(200);
	@media screen and (max-width: $breakpoint--large){
		margin-top: 0;
	}
}