.site-footer{
	margin-top: rem(20);
	.top-footer{
		border-bottom: 1px solid $medium-gray;
		padding-bottom: rem(12);
		@include clearfix;
		section{
			display: inline-block;
			vertical-align: middle;
			padding: rem(16);
			@media screen and (max-width: $breakpoint--medium){
				text-align: center;
			}
		}
		.brand{
			max-width: rem(130);
			margin-top: rem(70);
			float: left;
		    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
		        .retina-logo{
		            max-width: rem(130);
		        }
		    }
		    @media screen and (max-width: $breakpoint--large) { 
		        margin: 0 auto;
		        float: none;
		        display: block;
		    }
		    @media screen and (max-width: $breakpoint--medium){
		    	margin-bottom: rem(16);
		    }
		}
		/*.widget-footer{
			width: 70%;
			float: left;
			//padding-top: rem(48);
			@include clearfix;
			@media screen and (max-width: $breakpoint--large){
				width: 100%;
				float: none;
			}
			@media screen and (max-width: $breakpoint--medium){
				margin-bottom: rem(20);
				section{
					width: 100%;
				}
			}
		}*/
		.subscribe-footer{
			width: 35%;
			float: right;
			//margin-top: rem(18);
			.gform_wrapper {
				float: none;
				width: 100%;
				margin-bottom: 0;
				form{
					position: relative;
					.validation_error{
						display: none;
					}
					.gform_heading{
						margin-bottom: 0;
						.gform_description{
							margin-bottom: 0;
						}
					}
					.gform_body{
						max-width: 100%;
						.gfield{
							padding-right: 0;
							&:first-child{
								padding-right: 16px;
								@media screen and (max-width: $breakpoint--medium){
									padding-right: 0;
								}
							}
							&.gf_left_half, &.gf_right_half{
								margin-top: 0;
							}
							label{
								display: none;
							}
							input{
								height: rem(40);
								&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						            font-family: $heading-font;
						            color: $light-gray;
						            font-style: italic;
						        }
						        &::-moz-placeholder { /* Firefox 19+ */
						            font-family: $heading-font;
						            color: $light-gray;
						            font-style: italic;
						        }
						        &:-ms-input-placeholder { /* IE 10+ */
						            font-family: $heading-font;
						            color: $light-gray;
						            font-style: italic;
						        }
						        &:-moz-placeholder { /* Firefox 18- */
						            font-family: $heading-font;
						            color: $light-gray;
						            font-style: italic;
						        }
							}
							&.gfield_error{
								padding: 0;
								margin: 0;
								border: none;
								background-color: transparent;
								.validation_message{
									color: $brand-orange;
									padding-top: rem(4);
								}
								input{
									&:not([type=radio]),&:not([type=checkbox]),&:not([type=submit]),&:not([type=button]),&:not([type=image]),&:not([type=file]){
										border: 2px solid $light-gray!important;
									}
								}
								&:first-child{
									margin-right: 16px;
								}
							}
							@media screen and (max-width: $breakpoint--medium){
								display: block!important;
								width: 100%!important; 
							}
						}
					}
					.gform_footer{
						position: absolute;
						height: rem(30);
					    bottom: rem(6);
					    right: 0;
					    padding: 0 0 0 8px;
					    margin: 0;
					    max-width: rem(40);
					    border-left: 2px solid $light-gray;
					    input[type=image]{
					    	float: right;
					    }
						input{
							font-family: $copy-font;
							font-weight: medium;
							text-transform: uppercase;
							border-radius: 0;
							border: 2px solid;
							background-color: transparent;
							border-color: $light-gray;
							color: $dark-gray;
						    height: 26px;
						    padding: 4px!important;
						    margin: 3px 8px 0 0!important;
							&:hover{
								background-color: $light-gray;
								color: $dark-gray;
								border-color: $light-gray;
							}
							@media screen and (max-width: $breakpoint--medium){
								display: block!important;
								width: auto!important; 
							}
						}
						@media screen and (max-width: $breakpoint--medium){
							//position: static;
						}
					}
				}
				&.gform_validation_error{
					form .gform_footer{
						bottom: rem(28);
					}
				}
			}
			@media screen and (max-width: $breakpoint--large){
				width: 96%;
				padding: 0 2%;
				float: none;
				.gforms_confirmation_message{
					padding: rem(20) 0;
					text-align: left;
				}
			}
			@media screen and (max-width: $breakpoint--medium){
				.gforms_confirmation_message{
					padding: rem(12) 0 rem(20);
				}
			}
		}
	}
	.bottom-footer{
		padding: rem(12) 0 rem(20);
		.col-md-12{
			padding-left: 0;
		}
		.menu-footer-nav-container{
			//margin-top: rem(90);
			float: left;
			ul{
				list-style-type: none;

				li{
					display: inline-block;
					vertical-align: top;
					margin-right: rem(0);
					a{
						color: $medium-gray;
						padding-top: 0;
						&:first-child{
							padding-left: 0;
						}
						&:hover{
	                        color: $dark-gray;
	                        background-color: transparent;
                    	}
					}
					&.white-btn{
						a{
							border: 2px solid $medium-gray;
			                color: $dark-gray;
			                padding: 8px 15px;
						}
					}
					&.pull-left{
						@media screen and (max-width: 620px){
							float: none!important;
						}
					}
					@media screen and (max-width: $breakpoint--medium){
						margin-right: rem(20);
					}
					@media screen and (max-width: 620px){
						display: block;
						margin-right: 0;
						margin-bottom: rem(16);
						text-align: center;
					}
				}
				@media screen and (max-width: $breakpoint--medium){
					padding: 0;
					width: 100%;
				}
				@media screen and (max-width: $breakpoint--small){
					text-align: center;
					width: 100%;
				}
			}
			@media screen and (max-width: $breakpoint--medium){
				margin-top: rem(12);
				width: 100%;
			}
		}
		.right-footer-section{
			float: right;
			.menu-footer-menu-right-container{
	    		font-size: .75rem;
				ul{
					list-style-type: none;
					float: right;

					li{
						display: inline-block;
						a{
							color: $medium-gray;
							padding: 0 6px 0 6px;
						}
						&:after{
							position: absolute;
							content: " | ";
							display: inline-block;
							vertical-align: middle;
						}
						&:last-child{
							&:after{
								content: "";
							}
						}
					}
				}
			}
			small{
				font-size: rem(12);
				float: right;
				@media screen and (max-width: $breakpoint--medium){
					float: none;
					text-align: center;
				}
			}	
		}
		
		@media screen and (max-width: $breakpoint--medium){
			text-align: center;
			small{
				float: none;
			}
		}
	}
}