//buttons
.btn{
	font-family: $copy-font;
	padding: 14px 0;
	font-weight: medium;
	text-transform: uppercase;
	border-radius: 0;
	border: 2px solid;
	@include transition(0.2s all ease-in-out);
	&.orange-btn{
		background-color: $brand-orange;
		color: #fff;
		border-color: $brand-orange;
		&:hover{
			background-color: $dark-gray;
			border-color: $dark-gray;
			color: #fff;
		}
	}
	&.white-btn{
		background-color: transparent;
		border-color: $light-gray;
		color: $dark-gray;
		&:hover{
			background-color: $light-gray;
			color: $dark-gray;
			border-color: $light-gray;
		}
	}
	&.shop-btn{
		background-color: transparent;
		border-color: $medium-gray;
		color: $dark-gray;
		&:hover{
			background-color: $brand-orange;
			color: #fff;
			border-color: $brand-orange;
		}
	}
	&.big{
		width: rem(200);
		height: rem(50);
	}
	&.small{
		width: rem(125);
		height: rem(50);
	}
}
.woocommerce input.button{
	font-family: $copy-font!important;
	padding: 14px 0!important;
	font-weight: medium!important;
	text-transform: uppercase!important;
	border-radius: 0!important;
	border: 2px solid!important;
	@include transition(0.2s all ease-in-out);
	width: rem(200)!important;
	height: rem(50)!important;
	text-align: center!important;
	background-color: $brand-orange!important;
	color: #fff!important;
	border-color: $brand-orange!important;
	&:hover{
		background-color: $dark-gray!important;
		border-color: $dark-gray!important;
		color: #fff!important;
	}
}
.button{
	font-family: $copy-font!important;
	padding: rem(14) 0!important;
	font-weight: medium!important;
	text-transform: uppercase!important;
	border-radius: 0!important;
	border: 2px solid!important;
	@include transition(0.2s all ease-in-out);
	width: rem(200)!important;
	height: rem(50)!important;
	text-align: center!important;
	&.woocommerce-Button, &.alt, &.gform_button, &input, &.view{
		background-color: $brand-orange!important;
		color: #fff!important;
		border-color: $brand-orange!important;
		&:hover{
			background-color: $dark-gray!important;
			border-color: $dark-gray!important;
			color: #fff!important;
		}
	}
	&.gform_button{
		line-height: 0!important;
	}
	&.view{
		width: rem(125)!important;
		height: rem(50)!important;
		line-height: 1.5;
	}
	/*&.view{
		background-color: transparent!important;
		border-color: $medium-gray!important;
		color: $dark-gray;
		width: rem(125)!important;
		height: rem(50)!important;
		&:hover{
			background-color: $brand-orange!important;
			color: #fff!important;
			border-color: $brand-orange!important;
		}
	}*/
}