// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}
.col-xs-6{
	@media screen and (max-width: $breakpoint--small){
		width: 100%;
		float: none;
		text-align: center;
		img{
			margin: 0 auto;
		}
	}
}