//Provisional solution for first push. Need to figure this out, where are duplicates coming from? Remove them and remove these lines
.tm-extra-product-options-fields{
	#tm-epo-field-0, #tm-epo-field-2, #tm-epo-field-3, .tm-collapse{
		display: none;
	}
}
.yahm-price-display{
	#yahm-unit-price{
		color: $brand-orange;
		font-size: rem(32);
	}
	#yahm-unit-label{
		color: $brand-orange;
	}
	br{
		display: none;
	}
}
.woocommerce{
	.clearfix{
		a{
			@media screen and (max-width: $breakpoint--small){
				width: 100%;
				margin-bottom: 5px;
			}
		}
	}
	form{
		.form-row-first, .form-row-last{
			@media screen and (max-width: $breakpoint--large){
				width: 100%;
				float: none;
			}
		}
	}
	ul.products{
		li.product{
			a{
				&.woocommerce-LoopProduct-link{
					min-height: rem(304);
					h3, p{
						padding: 0;
						margin-bottom: rem(10);
					}
					h3{
						padding-top: rem(8)
					}
					@media screen and (max-width: $breakpoint--medium){
						min-height: rem(180);
					}
				}
				img{
					margin: 0 auto;
				}
			}
		}
	}
	div.product{
		div.summary, div.images{
			width: 100%;
			float: none;
		}
		div.images{
			img{
				max-width: rem(150);
				@media screen and (max-width: $breakpoint--large){
					max-width: rem(200);
				}
			}
			@media screen and (max-width: $breakpoint--large){
				margin: 0;
			}
		}
		div.summary{

		}
		form.cart, p.cart{
			margin-bottom: 0;
			.button, .tmcp-upload::-webkit-file-upload-button{
				font-family: $copy-font;
				padding: 14px 0;
				font-weight: medium;
				text-transform: uppercase;
				border-radius: 0;
				border: 2px solid;
				@include transition(0.2s all ease-in-out);
				background-color: $brand-orange;
				width: rem(200);
				height: rem(50);
				color: #fff;
				border-color: $brand-orange;
				&:hover{
					background-color: $dark-gray;
					border-color: $dark-gray;
					color: #fff;
				}
			}
			#yahm-quantity{
				width: 100%;
			}
		}
		h1{
			font: 400 rem(42) $copy-font;
			color: $brand-orange;
		}
		h2{
			color: $dark-gray;
		}
		span.price{
			color: $brand-orange;
			font-size: rem(28);
		}
		.product-block{
			@include clearfix;
			border: 4px solid $light-gray;
			> div{
				&:first-child{
					border-right: 1px solid $light-gray;
					margin: rem(10) 0;
					h4{
						color: $brand-orange;
						text-transform: uppercase;
					}
					@media screen and (max-width: $breakpoint--large){
						margin: rem(5) 0;
					}
				}
				&:last-child{
					> div{
						margin: rem(30) rem(60) 0 rem(40);
						position: relative;
						height: 100%;
						width: calc(100% - 100px);
						@media screen and (max-width: $breakpoint--large){
							margin: 0;
						}
					}
					h1{
						display: none;
					}
					.tm-epo-style-wrapper, .tm-epo-style.square{
						height: 1em;
						width: 1em;
						border-color: $dark-gray;
						vertical-align: middle;
					}
					.tm-extra-product-options{
						.tm-cell{
							margin-bottom: rem(8);
						}
						ul.tmcp-ul-wrap.tm-extra-product-options-checkbox li.tmcp-field-wrap .tm-label{
							color: $dark-gray;
							vertical-align: middle;
							padding-left: rem(16);
						}
					}
					form.cart{
						h5{
							text-transform: uppercase;
							color: $brand-orange;
							font-weight: 700;
						}
						.single_add_to_cart_button{
							position: absolute;
							bottom: rem(20);
							right: 0;
							@media screen and (max-width: $breakpoint--medium){
								left: 0;
								right: auto;
							}
						}
						.tc-totals-form{
							@media screen and (max-width: $breakpoint--medium){
								margin-bottom: rem(60);
							}
						}
					}
						
				}
			}
		}
	}
	//move this lines to a new file during cleanups
	form.checkout_coupon, form.login, form.register, table.shop_table{
		border: none!important;
		padding-left: 0!important;
	}
	.col2-set{
		.col-1{
			width: 38%!important;
			@media screen and (max-width: $breakpoint--medium){
				width: 100%!important;
			}
		}
		.col-2{
		}	
	}
	table{
		&.cart{
			.cart_item{
				.product-removal{
					width: 40px;
					a{
						color: $brand-orange;
						font-size: rem(24);
						@include transition(0.2s color ease-in-out);
						&:hover{
							color: $dark-gray;
						}
					}
				}
				.product-thumbnail{
					max-width: rem(100);
					a{
						display: block;
						img{
							width: 60%;
							min-width: rem(116);
						}
					}
				}
				.product-name{
					@media screen and (max-width: $breakpoint--small){
						display: block;
						text-align: left;
					}
					text-align: center;
					.tm-cart-edit-options{
						display: none;
					}
				}
				.product-quantity, .product-subtotal, .product-edit{
					@media screen and (max-width: $breakpoint--small){
						border-top: 0;
					}
				} 
				.product-edit{
				    color: transparent;
    				position: relative;
					a{
						position: absolute;
					    top: 44%;
					    left: 50px;
					    transform: translateX(-50%);
					    font-size: 16px;
					    font-weight: 400;
						color: $brand-orange;
						@include transition(0.2s color ease-in-out);
						&:hover{
							color: $dark-gray;
						}
						@media screen and (max-width: $breakpoint--medium){
							transform: none;
							left: 0;
							top: 30%;
						}
					}
				}
				span{
					color: $dark-gray;
				}
			}
		}
		&.woocommerce-checkout-review-order-table{
			.order-total, .order-total span{
				color: $brand-orange;
			}
		}
		&.shop_table{
			@media screen and (max-width: $breakpoint--medium){
				border-collapse: separate;
	    		border-spacing: 0 18px;
			}
			@media screen and (max-width: $breakpoint--small){
				max-width: 100%;
				tr td{
					&:nth-child(4), &:nth-child(5), &:nth-child(6){
						display: block;
						width: 100%;
					}
				}
			}	
		}
	}
	.woocommerce-checkout{
		#payment{
			background: transparent;
			div.payment_box{
				background-color: transparent;
			}
			.wc-terms-and-conditions{
				label.checkbox{
					font-size: rem(16);
				}
			}
		}
	}
}
dl{
	margin-bottom: 0;
}
//move this lines to a new file during cleanups
.woocommerce-message{
	border-color: $brand-orange;
	&:before{
		color: $brand-orange;
	}
	a.wc-forward{
		display: none;
	}
}
.woocommerce-checkout{
	.woocommerce-info{
		display: none;
	}
}

.woocommerce-account .addresses .title .edit{
	padding-top: rem(20);
	color: $brand-orange;
	float: left;
    margin-left: 20px;
    margin-top: 2px;
	&:hover{
		color: $dark-gray;
	}
}

.woocommerce-account .woocommerce-MyAccount-content{
	text-align: left!important;
	width: 100%!important;
	.woocommerce-info{
		border-color: $brand-orange;
		&:before{
			color: $brand-orange;
		}
		.woocommerce-Button{
			display: none;
		}	
	} 
}

#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box{
	//display: none!important;
	&:before{
		display: none!important;
	}
}


.woocommerce-view-order{
	.woocommerce{
		.woocommerce-MyAccount-content{
			p:first-child{
				font: 400 1.4375rem Roboto,sans-serif;
			}
		}
	}
}
mark{
	background-color: $sand;
}

.woocommerce-error{
	border-color: $brand-orange;
	&:before{
		color: $brand-orange;
	}
}

.cpf-section.tm-row .tm-cell.cpf-type-header{
	width: 100%;
}
.collapseme_zip-div,.collapseme_zip2-div{
	//display: none;
}
